@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}

header {
    background-color: #00a8db;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#memo-input {
    display: flex;
}

#memo-input input {
    height: 48px;
    width: 600px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-indent: 25px;
    font-size: 20px;
    border: none;
}

#memo-input button {
    height: 50px;
    width: 80px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    background-color: #caebff;
}

#memo-input button:hover {
    cursor: pointer;
    background-color: #b3d1e4;
}

main {
    padding: 50px;
    display: flex;
    justify-content: center;
}

#stats {
    margin: 30px;
    display: flex;
    gap: 30px;
}

#stats li {
    padding: 0;
    width: 120px;
    height: 25px;
    list-style-type: none;
    background-color: #00a8db;
    
    text-align: center;
    padding: 10px;
    border-radius: 35px;
}

.memos {
    padding: 0;
    width: 600px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.memos li {
    text-decoration: none;
    padding: 30px;
    width: 700px;
    height: 60px;
    background-color: #90c7e7;
    border-radius: 25px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memos li.complete {
    text-decoration: line-through;
}

.memos li input {
    width: 30px;
    height: 30px;
}

.memos li button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    display: grid;
    place-content: center;
}

.memos li button:hover {
    cursor: pointer;
}